.anchor{
    border-radius: 20px !important;
}

.back{
background-image: url(./imgaes/Rectangle\ 14.png);
background-size: cover;
height: 60vh;
}

.bg{
    background-color: #FAFAFA;
    border-radius: 50px;
}

.hed{
    font-weight: bolder;
    font-size: 4rem;
}

.par{
    color: black !important;
    font-size: 2rem !important;
    font-weight: normal !important;
}

.for{
    border-radius: 50px;
}

.buttt{
    border-radius: 50px !important;
}

.hes{
    font-weight: bolder;
    font-size: 5rem;
}

.bak{
    background-image: url(./imgaes/Rectangle\ 14.png);
    background-size: cover;
    height: 65vh;
    }